body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    height: 100vh;
}

html {
    overflow: hidden;
}

h1 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.main-title {
    font-size: 3em;
    color: white;
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
}

.main-title-2 {
    font-size: 6em;
    color: white;
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
}

#welcome-page {
    display: none;
    color: white;
    font-family: "Source Sans Pro";
    padding: 0px 180px;
    position: absolute;
    margin-top: 150px;
    width: 100%;
}

#error-page {
    display: none;
    color: white;
    font-family: "Source Sans Pro";
    padding: 0px 180px;
    position: absolute;
    margin-top: 150px;
    width: 100%;
}

#start-page {
    color: white;
    font-family: "Source Sans Pro";
    margin-top: 100px;
    position: absolute;
    width: 100%;
}

.start-title-1 {
    font-size: 5em;
    padding: 0px 200px;
    margin-bottom: 35px !important;
}

.welcome-title-1 {
    font-size: 5em;
    padding: 0px 200px;
}

.error-message-1 {
    font-size: 5em;
}

.error-message-2 {
    font-size: 3em;
    margin-top: 20px !important;
}

.error-message-3 {
    font-size: 3em;
}

.welcome-name {
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
}

#nric-control {
    background: transparent;
    border: 3px solid white;
    border-radius: 0px;
    width: 700px;
    margin: 0px auto;
    height: 80px;
    font-size: 3em;
    color: white;
    text-align: center;
}


/* Below 1280px */

@media screen and (max-width: 1024px) {
    body {
        background-color: #3f3f3f !important;
        background-image: none !important;
    }
}
